html {
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
    height: 100vh;
    font-family: 'helvetica neue';
}

h1 {
    color: #fff;
    padding: 10px;
}

.box {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
    background-color: #A683E3;
    text-align: center;
}

.item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
    border-bottom: 0;
}

input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #A683E3;
}

input[type="checkbox"] {
    margin: 20px;
}

p {
    margin: 0 20px 0 0;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
}

form.item {
    text-align: center;
    margin-left: 20px;
}

button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #A683E3;
    color: #fff;
    font-size: 35px;
    border-width: 0;
    margin: 10px;
    cursor: pointer;
}

input[type="text"] {
    text-align: center;
    height: 100%;
    width: 80%;
    top: 10px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
}

input[type="text"]:focus {
    border-bottom: 3px solid #A683E3;
}

::placeholder {
    color: grey;
}

footer {
    text-align: center;
    bottom: 100px;
    color: black;
    padding: 100px 0 0;
}

.addform {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 420px) {
    button {
        width: 80%;
        border-radius: 5px;
    }
}